.question-container {
    justify-content: center;
    display: flex; 
    text-align: center;
    /* position: relative; */
    
    
}
.question {
}
.answer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.answer {
    width: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    height: 80px;
}